<div id="custom-confirm-delete" class="custom-modal">
  <div class="custom-modal-content">
    <p>Вы уверены, что хотите удалить абонентов из файла?</p>
    <div class="custom-modal-buttons">
      <button id="confirm-delete-btn" class="btn btn-danger">Удалить</button>
      <button id="cancel-delete-btn" class="btn btn-secondary">Отмена</button>
    </div>
  </div>
</div>

<div id="custom-confirm-upload" class="custom-modal">
  <div class="custom-modal-content">
    <p>Вы уверены, что хотите загрузить абонентов из файла?</p>
    <div class="custom-modal-buttons">
      <button id="confirm-upload-btn" class="btn btn-primary">Загрузить</button>
      <button id="cancel-upload-btn" class="btn btn-secondary">Отмена</button>
    </div>
  </div>
</div>