{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/open5gs/index.css' %}">
{% endblock %}

{% block content %}
 <div class="container">
  <div class="card-grid">
    {% for subscriber in page_obj %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ subscriber.imsi }}</h5>
          <div class="btn-group">
            <a href="{% url 'open5gs:edit' subscriber.imsi %}" class="btn-icon tooltip" data-title="Изменить">
              <i class="bx bx-edit-alt"></i>
            </a>
            <a href="{% url 'open5gs:delete' subscriber.imsi %}" class="btn-icon tooltip" data-title="Удалить">
              <i class="bx bx-trash"></i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if not page_obj %}
    <div class="card">
      <div class="card-body">
        <p class="card-text error-message">Ничего не найдено</p>
      </div>
    </div>
  {% endif %}

  <!-- Кнопка "Добавить абонента" внизу -->
  <div class="add-button-wrapper">
    <a href="{% url 'open5gs:create' %}" class="btn btn-primary">Добавить абонента</a>
  </div>

  {% if page_obj.has_other_pages %}
    {% include "includes/paginator.html" %}
  {% endif %}
</div>
{% endblock %}
