{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/open5gs/subscriber_delete.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Подтверждение удаления</p>
      <p class="card-text">Вы уверены, что хотите удалить абонента {{ subscriber.imsi }}?</p>
      
      <form method="post">
          {% csrf_token %}
          <div class="btn-group">
              <button type="submit" class="btn btn-danger">Удалить</button>
              <a href="{% url 'open5gs:index' %}" class="btn btn-secondary">Отмена</a>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
