{% extends "base.html" %}
{% load static %}

{% block title %} 
  Восстановление пароля
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/profile_form.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Мы отправили вам инструкцию по установке нового пароля
        на указанный адрес электронной почты (если в нашей базе данных есть такой 
        адрес). 
        Вы должны получить её в ближайшее время.
      </p>
      <p class="card-text"><small class="text-muted">
        Если вы не получили письмо, пожалуйста,
        убедитесь, что вы ввели адрес, с которым Вы зарегистрировались,
        и проверьте папку со спамом.
      </small></p>
    </div>
  </div>
</div>
{% endblock %}