{% extends "base.html" %}
{% load static %}

{% block title %} 
  Восстановление пароля
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <h2>Восстановление пароля завершено</h2>
      <p>
        Ваш новый пароль сохранён. Теперь вы можете 
        <a href="{% url 'login' %}" class="link-text">войти</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}