{% extends "base.html" %}
{% load static %}

{% block title %} 
  Восстановление пароля
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/profile_form.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body"> 
      {% if validlink %}
        <form method="post" class="user-form">
          {% csrf_token %}

          <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if  form.new_password1.errors %}
              <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if  form.new_password2.errors %}
              <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
          </div>
    
          <button type="submit" class="btn btn-primary submit-button">Сменить пароль</button>
        </form>
      {% else %}
        <p class="card-text error-message">
          Ссылка для сброса пароля недействительна. Возможно, она уже 
          использовалась. Пожалуйста, запросите <a href="{% url 'password_reset' %}" class="link-text">новую</a>.
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}