{% extends "base.html" %}
{% load static %}

{% block title %} 
  Восстановление пароля
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/profile_form.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">    
      <form method="post" class="user-form">
        {% csrf_token %}

        <div class="form-group">
          {{ form.email.label_tag }}
          {{ form.email }}
          {% if  form.email.errors %}
            <div class="error">{{ form.email.errors }}</div>
          {% endif %}
        </div>
    
        <button type="submit" class="btn btn-primary submit-button">Сбросить пароль</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}