.form-section {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid var(--add-background-color);
  transition: border-color var(--transition-value);
  margin-bottom: 1.5rem;
}

.form-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
