{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 500{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Внутренняя ошибка сервера: 500</p>
      <p class="card-text error-message">
        Что-то пошло не так на стороне сервера. Мы уже работаем над этим.
      </p>
      <p class="card-text">
        <a href="{% url 'open5gs:index' %}" class="link-text">Вернуться на главную</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}