:root {
    --transition-value: 0.3s ease;
    --sidebar-width: 220px;
    --sidebar-collapsed-width: 60px;

    --color: #1a1d23;
    --add-color: #31343b;
    --extra-color: rgba(0, 0, 0, 0.5);

    --gray-color: #a0a5af;
    --red-color: #dc3545;
    --green-color: #28a745;
    --blue-color: #1586ff;
    --yellow-color: #ffc107;
    --magenta-color: #b23aee;
    --cyan-color: #17a2b8;

    --priority-color: var(--blue-color);

    --background-color: #f5f9ff;
    --add-background-color: #d5dbe5;
}


body.dark {
    --color: #f5f9ff;
    --add-color: #d5dbe5;
    --extra-color: rgba(255, 255, 255, 0.5);

    --gray-color: #676a6f;
    --red-color: #a71d2a;
    --green-color: #1e7e34;
    --blue-color: #375a9e;
    --yellow-color: #b38600;
    --magenta-color: #862dbd;
    --cyan-color: #126e82;

    --priority-color: var(--blue-color);

    --background-color: #1a1d23;
    --add-background-color: #31343b;

}
