<nav class="footer-nav">
  <ul>
    {% with request.resolver_match.view_name as view_name %}
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'open5gs:index' %}" 
            class="{% if view_name == 'open5gs:index' %}active{% endif %}">
          <span>Абоненты</span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'pages:about' %}" 
            class="{% if view_name == 'pages:about' %}active{% endif %}">
          <span>О нас</span>
        </a>
      </li>
    {% endwith %}
  </ul>
</nav>