.btn-icon {
  background: none;
  border: none;
  color: var(--priority-color);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 20%;
  transition: all var(--transition-value);
  outline: none;
}
.btn-icon:hover {
  color: var(--priority-color);
  box-shadow: 0 0 2px var(--extra-color);
  transform: scale(1.05);
}

.btn-icon:active {
  transform: scale(0.95);
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--add-background-color);
  transition: all var(--transition-value);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  outline: none;
}

body.dark .btn{
  color: var(--add-color);
}

.btn:hover {
  box-shadow: 0 0 5px var(--extra-color);
  transform: translateY(-1px);
  color: var(--background-color);
}

body.dark .btn:hover {
  color: var(--color);
}

.btn:active {
  transform: scale(0.97);
}

.btn-primary {
  border: 1.8px solid var(--blue-color);
  background-color: var(--blue-color);
}

.btn-danger {
  border: 1.8px solid var(--red-color);
  background-color: var(--red-color);
}

.btn-secondary {
  border: 1.8px solid var(--gray-color);
  background-color: var(--gray-color);
}
