.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;
  opacity: 0.9;
}

.pagination-summary {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: var(--add-background-color);
  border-radius: 8px;
  color: var(--gray-color);
  transition: background-color var(--transition-value);
  border: 1px solid var(--gray-color);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--add-background-color);
  color: var(--priority-color);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 
    background-color var(--transition-value), 
    color var(--transition-value);
  border: 1px solid var(--gray-color);
}

.page-link:hover {
  background-color: var(--priority-color);
  color: var(--color);
}

.page-item.active .page-link {
  background-color: var(--priority-color);
  color: var(--color);
  cursor: default;
}


@media (max-width: 768px) {
  .pagination-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pagination-summary {
    margin-bottom: 0.5rem;
  }

  .pagination {
    justify-content: center;
  }
}