::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--add-background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--extra-color);
}
