{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="New Towers">
    <meta
      name="description"
      content="New Towers - управление мобильной сетью."
    >
    <meta
      name="keywords" 
      content="New Towers, мобильные сети, управление сетью, мобильная связь, towers, 5G, 4G, LTE, управление мобильной сетью"
      >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
      {% block title %}NT Cellular Systems{% endblock %}
    </title>
    <script src="{% static 'js/theme_init.js' %}"></script>
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link 
      rel="apple-touch-icon" 
      sizes="180x180" 
      href="{% static 'img/fav/apple-touch-icon.png' %}"
      >
    <link 
      rel="icon" 
      type="png" 
      sizes="32x32" 
      href="{% static 'img/fav/favicon-32x32.png' %}"
      >
    <link 
      rel="icon" 
      type="png" 
      sizes="16x16" 
      href="{% static 'img/fav/favicon-16x16.png' %}"
      >
    <link 
      rel='stylesheet' 
      href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      >
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/search_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/user_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/errors.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include "includes/spinner.html" %}

    <div class="wrapper">
      {% include "includes/header.html" %}
      
      <div class="layout">
        {% include "includes/sidebar.html" %}

        <div class="main-area">
          {% include "includes/messages.html" %}
          <main class="content-wrapper">
            {% block content %}Контента пока нет :({% endblock %}
          </main>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>

    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/theme_toggle.js' %}"></script>
    <script src="{% static 'js/user_menu.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/scroll_to_top.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>