/* Slice */
#id_slice_jsonform .rjf-form-group-children {
  border-left: 4px solid var(--red-color);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Slice */
#id_slice_jsonform .rjf-form-group-children .rjf-form-group-children  {
  border-left: none;
  padding: 0;
  margin: 0;
}

/* Session */
#id_slice_jsonform .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children {
  border-left: 4px solid var(--blue-color);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* PCC Rules */
#id_slice_jsonform .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children {
  border-left: none;
  padding: 0;
  margin: 0;
}

/* PCC Rules */
#id_slice_jsonform .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-wrapper .rjf-form-group-children {
  border-left: 4px solid var(--gray-color);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

#id_slice_jsonform .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children .rjf-form-group-children {
  border-left: none;
  padding: 0;
  margin: 0;
}