{% extends "base.html" %}
{% load static %}

{% block title %} 
  Смена email
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/profile_form.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <form method="post" action="{% url 'users:change_email' %}" class="user-form">
        {% csrf_token %}

        <div class="form-group">
          {{ form.email.label_tag }}
          {{ form.email }}
        </div>

        <div class="form-group password-toggle-group">
          {{ form.password.label_tag }}
          <div class="password-wrapper">
            {{ form.password }}
            <i class='bx bx-lock toggle-password tooltip' id="togglePassword" data-title="Показать пароль"></i>
          </div>
        </div>

        <button type="submit" class="btn btn-primary submit-button">Сменить email</button>
      </form>
    </div>
  </div>
</div>

{% endblock %} 

{% block extra_js %}
  <script src="{% static 'js/users/password_toggle.js' %}"></script>
{% endblock %}